@tailwind base;
@tailwind components;
@tailwind utilities;

.search {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1300px) {
  .grid {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 900px) {
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .navbar {
    max-width: 600px;
  }
}
